.quick{
    /* border: 1px solid red; */
    padding: 5px;
    width: 100%;
    height: 35px;
    position:fixed;
    bottom: 65px;
    display:block;
    font-size: 16px;
    padding-left: 35%;
    padding-top: 10px;
    /* background-color: white; */
    opacity:1;
    color: black;
    font-weight: 400;
    background-image: url("https://images.ctfassets.net/5de70he6op10/4s1QY3Pi4JW4hsjvjaUH2S/e52dbed88150033aeb7c06292e859e1d/Holiday_Topper_1.jpg?w=630&q=80&fm=webp");
}