.mainDiv {
   
}

.div1 {
    /* border: 2px solid red; */
    display: flex;
    margin: 4%;
}


.childiv1 {
    /* border: 2px solid green; */
    margin: 1%;
}

.button1 {
    border: none;
    font-size: small;
    background-image: image()
}

.childChildiv{
    /* border: 2px solid green; */
    margin-top: 2%;
    margin-bottom: 2%;
}
.img2 {
    margin-left: 3%;
}

.childiv2 {
    /* border: 2px solid teal; */
    display: grid;
    margin: 1%;
}

.div2 {
    margin: 5%;
}

.para {
    margin-left: 5%;
}

.div3 {
    margin: 5%;
    display: flex;
   
justify-content: space-between;
    
    gap: 10px;
}
.div3-img{
    
    height: 400px;
}

 button {
    border: none;
    width: 100%;
    
}

.div3 > img {
    margin: 0.5%;
    width: 100%;
    height: 200px;
}

.para2 {
    text-align: center;
}

.div4 {
    display: flex;
    
    margin: 5%;
}

.div4 > div > img {
    margin: 3%;
}

.div4 > div > p {
    margin: 3%;
    font-size: 14px;
}

.div4 > div > a {
    margin: 3%;
    font-size: 13px;
    color: rgb(0,130,153);
}

.div5 {
    margin: 5%;
}
 @media screen and (min-width: 375px) {
    .div1 {
      display:flex;
    }
  
  } 
 