.mainNavbar{
    background-color: #fdfdf8;
    position: relative;
    
}
.navTop{
    display: flex;
    justify-content: end;
    background-color: whitesmoke;
    gap: 10px;
    height: 2rem;
    padding: 10px 50px 0px 10px;
}
.navMid{
    height: 60px;
    display: flex;
    background-color: #fdfdf8;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
.navMid>div{
    display: flex;
}
.midLeft>.homeicon{
    padding: 20px;
    height: auto;
    border-left: 1px solid #e5e2de;
    border-right: 1px solid #e5e2de;
}
/* .midLeft>div:hover{
    background: #a5642d;
} */
.navBottom{
    display: flex;
    background-color: #fdfdf8;
    border: 1px solid #e5e2de;
    padding: 5px 0px 0px 70px;
    font-size: small;
    
}
.nav-link>button{
    margin: 0 0 0 5px;
    padding: 15px 15px 20px 15px;
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    color: #26262b;
    font-size: 0.8rem;
    font-family: "Avenir Medium", sans-serif;
    font-weight: bold;
}
.nav-link>button:hover{
    border-bottom: 1px solid #167a92;
    color: #167a92;
}

.midRight>div{
    padding: 5px;
    height: auto;
    
}

.Nav-searchbar{
    height: 35px;
    width: 300px;
}
.cart-logo{
  cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    color: #167a92;
  font-size: 30px;
}
.cart-count{
    cursor: pointer;
position: absolute;
    width: 17px;
    right: 48px;
    height: 17px;
    top: 50px;
    text-align: center;
    font-size: 13px;
    color: #167a92;
    font-weight: 700;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    
}
.cart-count>:nth-child(1){
    font-size: 10px;
    color: #167a92;
}
.auth{
    text-decoration: none;
    cursor: pointer;
    color: #167a92;
}